<div class="col-md-6 my-3">
  <h2><%= "#{t('app.change')} #{t('activerecord.attributes.user.password').downcase}" %></h2>

  <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name),
                      html: {multipart: true} do |f| %>
    <%= f.error_notification %>

    <%= f.input :current_password %>
    <%= f.input :password, label: t('activerecord.attributes.user.new_password') %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit, t('app.change'), class: 'btn-primary' %> или
    <%= link_to t('app.back'), :back, class: 'text-decoration-none' %>
  <% end %>

  <p>
    <%= button_to "#{t('app.delete')} #{t('app.profile').downcase}",
                  registration_path(resource_name),
                  data: { confirm: t('app.confirm') },
                  method: :delete, class: 'btn btn-outline-danger' %>
  </p>
</div>
