<div class="col-md-6 my-3">
  <h2><%= t('.signup') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit, t('.signup'), class: 'btn-primary' %>
  <% end %>

  <p class="mt-3">
    <%= render "devise/shared/links" %>
  </p>
</div>
