<div class="col-md-6 my-3">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

    <%= f.input :title %>
    <%= f.input :address %>

    <div class="mb-3 string required form-group-invalid">
      <%= f.label :datetime, class: 'form-label' %>
      <%= f.input_field :datetime,
                        as: :string,
                        class: 'form-control datepicker-here',
                        autocomplete: 'off',
                        data: { timepicker: true } %>
      <%= f.error :datetime, class: 'invalid-feedback' %>
    </div>

    <%= f.input :description %>
    <%= f.input :pincode %>

    <%= f.button :submit, t('app.save'), class: 'btn-primary' %>
    или <%= link_to t('app.back'), :back, class: 'text-decoration-none' %>
  <% end %>
</div>
