<div class="col-md-6 my-3">
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

    <%= f.input :title %>
    <%= f.input :address %>
    <%= f.input :datetime, as: :string,
                input_html: {
                  id: 'datepicker',
                  autocomplete: 'off'
                } %>
    <%= f.input :description %>
    <%= f.input :pincode %>

    <%= f.button :submit, t('app.save'), class: 'btn-primary' %>
    или <%= link_to t('app.back'), :back, class: 'text-decoration-none' %>
  <% end %>
</div>
