<div class="col-md-6 my-3">
  <h1><%= t('.title') %></h1>

  <%= simple_form_for('', method: :post) do |f| %>
    <%= f.error_notification %>

    <%= f.input :pincode, label: t('activerecord.attributes.event.pincode') %>

    <div class="actions mb-3">
      <%= f.button :submit, t('app.save'), class: 'btn-primary' %>
    </div>
  <% end %>

  <%= link_to t('app.to_index'), events_path %>
</div>
